<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to '📩 Dropins', game_posts_path, class: "navbar-brand fs-1 fw-bolder text-decoration-none text-reset" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav ms-auto align-items-center column-gap-2">
        <% if user_signed_in? %>
          <%= link_to 'Feed', game_posts_path, class: "nav-link text-reset" %>


            <%# Pill Component %>
          <div class="container" style="min-width: 250px;">
            <div class="d-flex text-center">
                
                <div class="flex-fill">
                <%= link_to new_game_post_path, class: "text-decoration-none text-dark" do %>
                    <div class="bg-white border py-1 shadow-sm rounded-start-pill border-end-0">
                    <i class="bi bi-plus fs-6"></i>
                    </div>
                    <div class="mt-2">
                    <small class="fw-bold" style="font-size: 0.7rem;">Create</small>
                    </div>
                <% end %>
                </div>

                <div class="flex-fill">
                <% if current_user&.owned_games.none? %>
                    <%= link_to game_posts_path, class: "text-decoration-none text-dark" do %>
                        <div class="bg-white border py-1 shadow-sm">
                        <i class="bi bi-three-dots fs-6"></i>
                        </div>
                        <div class="mt-2">
                        <small class="fw-bold" style="font-size: 0.7rem;">Pending</small>
                        </div>
                    <% end %>
                <% else %>
                    <%= link_to game_post_path(current_user.owned_games.last), class: "text-decoration-none text-dark" do %>
                        <div class="bg-white border py-1 shadow-sm">
                        <i class="bi bi-signpost fs-6"></i>
                        </div>
                        <div class="mt-2">
                        <small class="fw-bold" style="font-size: 0.7rem;">Your Post</small>
                        </div>
                    <% end %>
                <% end %>
                </div>

                <div class="flex-fill">
                <%= link_to confirmed_event_path, class: "text-decoration-none text-dark" do %>
                    <div class="bg-white border py-1 shadow-sm rounded-end-pill border-start-0">
                    <i class="bi bi-check fs-6"></i>
                    </div>
                    <div class="mt-2">
                    <small class="fw-bold" style="font-size: 0.7rem;">Confirmed</small>
                    </div>
                <% end %>
                </div>

            </div>
            </div>
          
          <%# Dropdown section %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle fs-1"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="userMenu">
                <li>
                    <%= link_to profile_path, class: "dropdown-item d-flex align-items-center gap-2" do %>
                        <i class="bi bi-person-circle"></i>
                        <span>View Profile</span>
                    <% end %>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <%= link_to logout_path, data: { turbo_method: :delete }, class: "dropdown-item d-flex align-items-center gap-2" do %>
                        <i class="bi bi-door-open"></i>
                        <span>Log out</span>
                    <% end %>
                </li>
            </ul>
        </div>

        <%# Non logged in view %>
        <% else %>
          <%= link_to 'Login', login_path, class: "nav-link text-reset me-2" %>
          <%= link_to 'Sign up', sign_up_path, class: "nav-link text-reset" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>