<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="navbar-brand ">
        <%= link_to '📩 Dropins', game_posts_path, class: "fs-1 fw-bolder text-decoration-none text-reset" %>
        </h1>
        <% if user_signed_in? %>
            <%= link_to 'create game post', new_game_post_path %>
            <%= link_to 'Log out', logout_path, data: { turbo_method: :delete } %>
            <%= link_to 'view all game posts', game_posts_path %>
            <%= link_to 'view profile', profile_path %>
            <%= link_to 'view confirmed events', confirmed_event_path %>
            <% if current_user&.owned_games.none? %>
                <div>No games posted</div>
            <% else %>
                <%= link_to 'view your incoming requests', game_post_path(current_user.owned_games.last) %>
            <% end %>
        <% else %>
        <div class="d-flex gap-0 column-gap-3">
            <%= link_to 'Login', login_path, class: "text-decoration-none text-reset" %>
            <%= link_to 'Sign up', sign_up_path, class: "text-decoration-none text-reset" %>
        </div>
        <% end %>
    </div>
</nav>